# НЕ ВСТАВЛЯЙТЕ СЮДИ РЕАЛЬНІ ДАНІ
# Скопіюйте цей файл як .env і заповніть реальними значеннями

PORT=3001
MONGO_URL=mongodb+srv://teamUser:bQWyGRM3C9SXaafG@cluster0.e3v3bfc.mongodb.net/team-db?appName=Cluster0
JWT_SECRET=
JWT_EXPIRES_IN=

REFRESH_SECRET=
REFRESH_EXPIRES_IN=

FRONTEND_DOMAIN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

